<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <title>MITRE COSA</title> -->
<title><%= config.appname %></title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/select2.min.css">
<link rel="stylesheet" href="/assets/css/blue.css">
<link rel="stylesheet" href="/assets/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/assets/css/daterangepicker.css">
<link rel="stylesheet" href="/assets/css/dataTables.jqueryui.min.css">
<link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css">
<!--link rel="stylesheet" href="/assets/css/datatables.bootstrap4.min.css"-->
<link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.dataTables.min.css">
<link rel="stylesheet" href="/assets/css/fixedColumns.bootstrap4.min.css">

<!--link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css"-->
<!--link rel="stylesheet" href="/bower_components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css"-->



<link rel="stylesheet" href="/stylesheets/admin-copy.css">
<link rel="stylesheet" href="/stylesheets/admin-skin-copy.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">


<script type="text/javascript" src="/assets/js/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.knob.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.bootstrap.wizard.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.jqueryui.min.js"></script>
<!-- RJP - removed because not in GIT. <script type="text/javascript" src="/assets/js/datatables.fixedColumns.min.js"></script>  -->
<!--script type="text/javascript" src="/assets/js/datatables.bootstrap4.min.js"></script-->
<!--script type="text/javascript" src="/assets/js/fixedColumns.bootstrap4.min.js"></script-->
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.js"></script>

<!-- find npm alternative-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

<script type="text/javascript" src="/assets/js/daterangepicker.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/fastclick.js"></script>
<script type="text/javascript" src="/assets/js/multiselect.min.js"></script>


<!--script type="text/javascript" src="/bower_components/jvectormap/jquery-jvectormap.js"></script-->
<!--script type="text/javascript" src="/bower_components/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script-->
<!--script type="text/javascript" src="/bower_components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.min.js"></script-->
