<style>
    .wrapper-progressBar {
        width: 100%
    }

    .progressBar {}

    .progressBar li {
        list-style-type: none;
        float: left;
        width: 10%;
        position: relative;
        text-align: center;
    }

    .progressBar li:before {
        content: " ";
        line-height: 30px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 10px;
        background-color: white
    }

    .progressBar li:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
    }

    .progressBar li:first-child:after {
        content: none;
    }

    .progressBar li.active {
        color: dodgerblue;
    }

    .progressBar li.active:before {
        border-color: dodgerblue;
        background-color: dodgerblue
    }

    .progressBar .active:after {
        background-color: dodgerblue;
    }
</style>
<div class="row" >
    <div class="col-lg-12" >
        <div class="wrapper-progressBar">
                <ul id="wizardProgressBar"class="progressBar">
                    <li>System Information</li>
                    <li>Catalog</li>
                    <li>Inheritance</li>
                    <li>Components</li>
                    <li>Roles</li>
                    <li>Review</li>
                </ul>
        </div>
    </div>
</div>