<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:75%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="descriptionModalLabel">Work Item Information </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr valign="top">
                            <td ><h4><b>Information System: </b><span id="aSystem"></span></h4></td> 
                            <td ><h4 id="aStatus"></h4></td> 
                            <td></td>
                        </tr>
                        <tr valign="top">
                            <td width="20%"><h4><b>Control: </b><span id="aControlName"></span></h4></td> 
                            <td ><h4><b>Control Desc: </b><span id="aControlDesc"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td ><h4><b>Control Item: </b><span id="aControlItem"></span></h4></td>
                            <td ><h4><b>Control Title: </b><span id="aControlTitle"></span></h4></td>                            
                         </tr>
                        <tr valign="top">
                            <td colspan="2"><h4><b>Control Item Desc: </b><span id="aControlItemDescription"></span></h4></td> 
                            <td ></td> 
                        </tr>
                        <tr valign="top">
                            <td ><h4><b>Control Family: </b><span id="aControlFamily"></span></h4></td>
                            <td ><h4><b>Procedure: </b><span id="aProcedure"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td ><h4><b>Component Name: </b><span id="aComponent"></span></h4></td>
                            <td ><h4><b>Product Name: </b><span id="aProduct"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td ><h4><b>Test Type: </b><span id="aTestType"></span></h4></td>
                            <td ><h4><b>Inhertied From: </b><span id="aInheritedFrom"></span></h4></td>
                        </tr>
                        <tr valign="top">
                            <td ><h4><b>Repeat Findings: </b><span id="aRepeatFinding"></span></h4></td> 
                            <td ><h4><b>Repeat Finding Weakness ID: </b><span id="aRepeatFindingCOSAId"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td ><h4><b>Likelihood: </b><span id="aLikelihood"></span></h4></td> 
                            <td ><h4><b>Impact: </b><span id="aImpact"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td ><h4><b>Expiration Date: </b><span id="aExpirationDate"></span></h4></td> 
                            <td ><h4><b>Control Weakness Type: </b><span id="aWeaknessType"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td><h4><b>Remediation Date: </b><span id="aRemediationDate"></span></h4></td> 
                            <td><h4><b>Forward To: </b><span id="aForwardToRole"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                                <td><h4><b>Updated By: </b><span id="aUpdatedBy"></span></h4></td> 
                                <td><h4><b>Modified Date: </b><span id="aModifiedDate"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td><h4><b>Status Description: </b><span id="aStatusDesc"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td><h4><b>Finding Title: </b><span id="aFindingTitle"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td><h4><b>Finding Description: </b><span id="aFindingDesc"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td colspan="2"><h4><b>Weakness Description: </b><span id="aWeaknessDesc"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td colspan="2"><h4><b>Actions Description: </b><span id="aActionsDesc"></span></h4></td> 
                        </tr>
                        <tr valign="top">
                            <td><h4><b>Effect On Business: </b><span id="aEffectOnBusiness"></span></h4></td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
