<div class="row" id="systemsOutput">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <br />
                <h3 class="box-title" id="compLabel"></h3>
            </div>
            <div id="systemstablediv" class="box-body table-responsive" style="overflow-x: scroll">
                <table id="workitemdetailstable" class="table table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Information System</th>
                            <th class="text-center">Family</th>
                            <th class="text-center">Control</th>
                            <th class="text-center">Test</th>
                            <th class="text-center">Control Title</th>
                            <th class="text-center">Test Type</th>
                            <th class="text-center">Inherited From</th>
                            <th class="text-center">Status</th>
                            <th class="text-center" id="statusDesc">Desc</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end systemsOutput div-->